<!DOCTYPE html>
<html>
<head>
  <title>トレーニング内容</title>
  <style>
    .post-details {
      padding: 2rem;
    }

    .comments-list {
      border: 1px solid #ccc;
      padding: 1rem;
    }

    .comment {
      border-bottom: 1px solid #ccc;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    .comments-title {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8"> <!-- 投稿内容のカラム -->
        <h2 class="mb-3 mt-3">トレーニング内容</h2>
        <div class="post-details">
          <div>
            <h3><%= @post.title %></h3>
          </div>
          <div>
            <span><strong>目標時間</strong><%= @post.target_time %>分</span>
            <span><strong>難易度</strong><%= @post.level %></span>
            <span><strong>トレーニングジャンル</strong><%= @post.genre.name %></span>
          </div>
          <div>
            <h5 class="mt-3"><strong>内容</strong></h5>
            <%= @post.body %>
          </div>
          <div class="mt-2">
            <strong>投稿日</strong>
            <%= @post.created_at.strftime('%Y年%m月%d日') %>
          </div>
        </div>
      </div>

        <div class="col-md-4 mt-5"> <!-- コメントのカラム -->
          <div class="comments-list">
            <h4 class="comments-title">コメントリスト</h4>
            <div class="comment">
              <%= render "admin/comments/list", post: @post  %>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <%= link_to '投稿削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</body>
</html>
