
<h1 class="text-center mt-5 mb-5">プロフィール編集</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <%= form_with model: @user, url: users_my_page_edit_path, method: :patch, local: true do |f| %>

        <div class="form-group">
          アイコン
          <%= f.file_field :profile_image, class: "form-control-file" %>
        </div>

        <div class="form-group">
          ニックネーム
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          自己紹介
          <%= f.text_area :introduction, id:"introduction-text", class: "form-control", style: "resize: none;", rows: '5' %>
        </div>

        <div class="form-group">
          <small id="introduction-count" class="form-text text-muted">
            0文字
          </small>
        </div>

        <div class="form-group">
          <%= f.submit "更新", class: "btn btn-primary" %>
          <%= link_to "退会する", users_withdrawal_path, method: :patch, class: "btn btn-danger", data: { confirm: "本当に退会しますか？" } %>
        </div>

      <% end %>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'count' %>