<!--ヘッダー画面-->
<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#F6F1E9;">
    <div class="col-lg-3">
      <!--イラストロゴ-->
      <div class="navbar-brand mb-auto ml-5">
        <%= link_to root_path do %>
          <%= image_tag asset_path("logo2.png"), height: '100px' %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-auto">
    </div>

      <div class="col-auto mb-auto ml-lg-auto">
        <!--メニューボタン-->
        <!--<div class="hum-menu d-block d-lg-none position-fixed p-2"-->
        <!--    style="top: 10px; right: 10px; background-color: #f0f0f0; z-index: 9999;">-->
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon ml-lg-auto"></span>
          </button>
        <!--</div>-->

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li><%= link_to '会員一覧', admin_root_path, class: "btn btn-outline-dark m-3" %></li>
              <li><%= link_to '投稿一覧', admin_posts_path, class: "btn btn-outline-dark m-3" %></li>
              <li><%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-outline-dark m-3" %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark m-3" %></li>
            <% else %>
              <% if user_signed_in? %>
                <li><%= link_to 'マイページ', users_my_page_path(current_user), class: "btn btn-outline-dark m-3" %></li>
                <li><%= link_to '新規投稿', new_post_path, class: "btn btn-outline-dark m-3" %></li>
                <li><%= link_to 'みんなの投稿', posts_path, class: "btn btn-outline-dark m-3" %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-dark m-3" %></li>
              <% else %>
                <li><%= link_to 'About', about_path, class: "btn btn-outline-dark m-3" %></li>
                <li><%= link_to 'みんなの投稿', posts_path, class: "btn btn-outline-dark m-3" %></li>
                <li><%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-dark m-3" %></li>
                <li><%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-dark m-3" %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <% unless admin_signed_in? %>
          <div class="col-auto mb-auto ml-lg-0">
            <%= form_tag search_results_posts_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
              <%= label_tag :search_target, "検索対象", class: "sr-only" %>
              <% target_options = {"タイトル" => "title", "本文" => "body", "レベル" => "level", "目標時間" => "target_time"} %>
              <%= select_tag :search_target, options_for_select(target_options, params[:search_target]), class: "form-control mr-sm-2" %>

              <%= label_tag :search, "キーワード", class: "sr-only" %>
              <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "キーワードを入力して検索", "aria-label": "キーワード" %>

              <%= label_tag :search_genre, "ジャンル", class: "sr-only" %>
              <%= select_tag :search_genre, options_from_collection_for_select(Genre.all, "id", "name", params[:search_genre]), class: "form-control mr-sm-2", include_blank: "ジャンルを選択" %>

              <%= submit_tag "検索", class: "btn btn-outline-dark my-2 my-sm-0" %>
            <% end %>
          </div>
        <% end %>
      </div>
  </nav>
</header>